.games {
    flex: 6 1;
}

.games ul {
    list-style-type: none;
}

.games .game {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.games .game img {
    height: 150px;
}