.page.config {
    display: flex;
    flex-wrap: wrap;

    .config-widget {
        margin: 0 auto;

        &>* {
            display: flex;
            flex-wrap: wrap;
    
            &>* {
                width: 30%;

                form {
                    width: 100%;
                    display: flex;
                }
            }

            .deliveryOption {
                width: 100%;
                div {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
            }
        }
    }

}
