.page.home {
    width: 100%;
    z-index: 10;
    padding-bottom: 150px;

    .widget-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: fit-content;
        z-index: 1;
        margin-bottom: 25px;
    }
}