.home {
    position: relative;

    .banner {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $bleu_2;
        width: 100%;
        z-index: 0;
        color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 200px;

        * {
            padding-left: 15px;
        }
    }

    .content {
        position: absolute;
        top: 150px;
        width: 100%;
        z-index: 10;
        padding-bottom: 150px;

        .widget-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            height: fit-content;
            z-index: 1;
            margin-bottom: 25px;
        }
    }

    .footer {
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
    }
}